            body {
                
                font-family: sans-serif;
                
            }
            
            #bold {
                
                font-weight: bold;
                
            }
        
            #myShape {
                
                height: 100px;
                width: 100px;
                background-color: red;
                display: none;
                position: relative;
                
            }